.filters {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tariff-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tariff {
  display: flex;
  flex-direction: column;
  border: 2px solid #111;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
}

.tariff-details {
  display: flex;
  justify-content: space-evenly;
}

.tariff-name,
.speed,
.benefits,
.price {
  flex: 1;
  margin: 0 10px;
}

.speed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.download,
.upload {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.download div,
.upload div {
  display: flex;
  align-items: center;
}

.download img,
.upload img {
  width: 16px;
  height: 16px;
}

.benefits ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

.price {
  text-align: right;
  font-weight: 900;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

.tariff-info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tariff-number {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.vertical-line {
  height: 115%;
  width: 1px;
  background-color: #111;
  margin-left: 1px;
  margin-right: 1px;
}

.speed > div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.benefits {
  margin-right: 20px;
}

.download-icon,
.upload-icon {
  border: 1px solid;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2px;
  padding-bottom: 1px;
}

.download-speed,
.upload-speed {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid;
  padding-left: 1rem;
  padding-right: 1rem;
}

.download-label {
  margin-right: 5rem;
  margin-bottom: 4px;
}

.upload-label {
  margin-right: 6rem;
  margin-bottom: 4px;
}

.tariff-button {
  background-color: white;
  padding-left: 4em;
  padding-right: 4em;
}

.sortButton {
  background-color: white;
}

// For Tablet
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .tariff-number {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  .vertical-line {
    display: none; /* Hide vertical line on tablet and smaller screens */
  }

  .speed .upload {
    margin-top: 8px;
  }

  .hidden-sm {
    display: none; /* Hide elements on tablets and smaller */
  }

  .price {
    font-weight: 900;
  }

  .tariff-button {
    padding-left: 1em;
    padding-right: 1em;
    background-color: white;
  }

  .sortButton {
    background-color: white;
  }
}

// For Mobile
@media only screen and (max-width: 600px) {
  .tariff-details {
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .vertical-line {
    display: none; /* Hide vertical line on tablet and smaller screens */
  }

  .hidden-sm {
    display: none; /* Hide elements on tablets and smaller */
  }

  .hidden-xm .hidden-sm {
    display: none; /* Hide elements on mobile and smaller */
  }

  .price {
    display: flex;
  }

  .tariff-button {
    height: 5em;
    margin-left: 4px;
    padding-left: 1px;
    padding-right: 1px;
    background-color: white;
  }

  .sortButton {
    background-color: white;
  }

  .download-icon,
  .download-speed {
    border: none;
  }

}
